/* Responsive */
@media (max-width: 768px) {
    .search-container {
        width: 100%;
    }

    .search-category {
        width: 70px;
    }

    .search-button {
        width: 50px;
    }
}

@media screen and (min-width:150px) and (max-width:992px) {

.discountTop {
     display: none !important;
}
.locationIndex {
display: none !important;
}

.mobile3{
    display:none !important;
}
.logo {
     display: none !important;
}
.TopLeft {
    position: absolute;
    right: 20px;
    margin-top: 14px;
    color: #fff;
}
.wishlistIndex i {
    color: #ffffff !important;
}
}



/* 
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1120px;
    }
} */

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1600px;
        padding-left: 48px;
        padding-right: 48px;
    }
}